@import url("reset.css");
@import url("variables.css");

/* * {
    outline: 1px solid red !important;
} */

/* Global styling */
/* html, body*/
body {
    display: grid;
    grid-template-rows: auto auto auto 1fr auto;
    grid-template-areas:
        'skip2main'
        'header'
        'breadcrumbs'
        'main'
        'footer';
}

/* Accessibility */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.skip2main {
    grid-area: skip2main;
}

.skip2main:focus {
    top: 10px;
    left: 10px;
    width: auto;
    height: auto;
    padding: 1rem;
    background-color: #000;
    color: #fff;
    z-index: 100;
}


/* Text, links, and modifiers */
h1,
h2,
h3 {
    font-family: var(--font-heading);
    font-weight: var(--font-weight-bold);
    margin: 0;
}

h1 {
    font-size: var(--heading-medium);
}

h2 {
    font-size: var(--heading-xsmall);
}

p,
label,
input {
    font-family: var(--font-body);
}

a {
    font-family: var(--font-body);
    text-decoration: none;
}


/* Components, buttons etc */
.cta-btn {
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 20em;
    min-width: 7em;
    max-height: 3em;
    padding: var(--padding-medium);
    margin: var(--margin-medium);
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 7px;
    box-shadow: 0.2em 0.4em 0.5em black;
}

.cta-btn--main {
    background-color: var(--color-darkblue);
    margin: 1em;
}

.cta-btn--green {
    background-color: var(--color-darkgreen);
}

.cta-btn--large {
    min-width: 15em;
}

.main-cta-btn--alt-margin {
    margin: 1em 2em;
}

/* Main elements */

/* Header */
header {
    display: grid;
    grid-template-columns: repeat(7, auto) 44px;
    align-items: center;
    min-width: 100vw;
    max-width: 100vw;
    min-height: 10vh;
    padding: 0.5em 0.5em;
    grid-area: header;
}

header a {
    font-family: var(--font-heading);
    color: black;
    text-decoration: none;
}

.header__logo-container {
    display: flex;
    min-width: 20px;
}

.logo {
    display: flex;
    min-height: 50px;
    max-height: 8vh;
    min-width: 120px;
    order: 1;
    padding: var(--padding-xsmall)
}

.utility-nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    order: 2;
    grid-column: 7;
}

.utility-nav__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.utility-nav__item a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.utility-nav__icon {
    min-width: 2em;
    max-width: 2.65em;
    padding: var(--padding-xsmall);
}

.burger-btn {
    display: flex;
    justify-self: flex-end;
    grid-column: 8;
    order: 3;
}

.burger-btn__image {
    width: 100%;
    max-width: 2.75em;
    min-width: 2em;
    padding: var(--padding-xsmall);
}

.nav,
#menu-checkbox {
    display: none;
}

#menu-checkbox:checked~.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 10vh;
    right: 0px;
    width: 100%;
    background-color: white;
    z-index: 999;
    padding: 0;
}

#menu-checkbox:checked~.nav a {
    display: block;
    padding: 2rem;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    max-width: 100vw;
    max-height: 3vh;
    padding-right: var(--padding-xsmall);
    grid-area: breadcrumbs;
}

.breadcrumbs__item {
    font-family: var(--font-heading);
    color: black;
    text-decoration: none;
    display: inline-block;
    padding-right: 0.5em;
}

.current-page {
    text-decoration: underline;
}

/* Main */
main {
    grid-area: main;
}

/* Footer */
footer {
    display: grid;
    min-height: 10vh;
    max-width: 100vw;
    min-width: 100vw;
    grid-area: footer;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
        'some-heading'
        'some'
        'contact-info-heading'
        'contact-info'
        'logo'
        'copyright';
    gap: 1em;
    padding: var(--padding-medium);
    color: var(--color-grey);
}

.footer__some__heading {
    grid-area: some-heading;
    color: var(--color-grey);
}

.footer__some {
    grid-area: some;
    display: flex;
    justify-content: center;
    gap: 4em;
}

.footer__contact-info__heading {
    grid-area: contact-info-heading;
}

.footer__contact-info {
    grid-area: contact-info;
    display: flex;
    justify-content: center;
    gap: 2em;
}

.footer__contact-info a {
    color: var(--color-grey);
}

.footer__contact-info p {
    display: none;
    font-size: var(--body-medium);
}

.footer__logo {
    grid-area: logo;
    display: flex;
    justify-content: center;

}

.footer__logo__image {
    max-width: 100px;
}

.footer__copyright {
    grid-area: copyright;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.footer__copyright p {
    font-size: var(--body-small);
}

.fa-brands {
    font-size: 2em;
}

.fa-solid {
    font-size: 1.6em;
}

.fa-regular {
    font-size: 0.5em;
}

/* Pages */
/* Home page */
/* Main CTA */
.main {
    display: grid;
    grid-template-rows: 1fr repeat(2, auto);
}

.main__cta {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto) 1fr auto 10vh;
    justify-content: center;
    min-height: 85vh;
    min-width: 100vw;
    margin: 0;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.90), rgba(255, 255, 255, 0) 50%), url(../assets/images/backgrounds/image-by-wirestock-on-freepik.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main__cta__slogan {
    padding-top: var(--padding-medium);
    justify-self: center;
    max-width: 100%;
    grid-row: 1;
    grid-column: 1 / span 4;
}

.main__cta__text {
    padding-top: var(--padding-medium);
    text-align: center;
    grid-row: 2;
    grid-column: 1 / span 4;
}

.cta-btn__women {
    grid-column: 3;
    grid-row: 4;
}

.cta-btn__men {
    grid-column: 4;
    grid-row: 4;
}

/* Product presentation */
.presentation {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(10, auto);
    grid-template-areas:
        'presentation-heading'
        'presentation-heading-bergen'
        'presentation-image-bergen'
        'presentation-info-bergen'
        'presentation-heading-trondheim'
        'presentation-image-trondheim'
        'presentation-info-trondheim'
        'presentation-heading-tromso'
        'presentation-image-tromso'
        'presentation-info-tromso';
    margin: var(--margin-medium);
    color: var(--color-darkblue);
}

.presentation h2 {
    font-size: var(--heading-small);
    color: var(--color-darkgreen);
    margin-top: var(--margin-small);
    margin-bottom: var(--margin-small);
}

.presentation__heading {
    grid-area: presentation-heading;
    margin: var(--margin-small) 0;
}

.presentation__info {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(4, auto);
    align-items: center;
    row-gap: 0.5em;
    column-gap: 1em;
    padding-bottom: var(--padding-medium);
    margin-bottom: var(--margin-medium);
    border-top: 1px solid var(--color-darkblue);
    border-bottom: 1px solid var(--color-darkblue);
    color: var(--color-black);
}

.presentation__image {
    border-radius: 7px;
    max-width: 100%;
}

.presentation__heading--bergen {
    grid-area: presentation-heading-bergen;
    border-top: 1px solid var(--color-darkblue);
}

.presentation__image--bergen {
    grid-area: presentation-image-bergen;
    max-height: fit-content;
}

.presentation__heading--bergen {
    grid-area: presentation-heading-bergen;
}

.presentation__info--bergen {
    grid-area: presentation-info-bergen;
}

.presentation__heading--trondheim {
    grid-area: presentation-heading-trondheim;
}

.presentation__image--trondheim {
    grid-area: presentation-image-trondheim;
}

.presentation__heading--trondheim {
    grid-area: presentation-heading-trondheim;
}

.presentation__info--trondheim {
    grid-area: presentation-info-trondheim;
}

.presentation__heading--tromso {
    grid-area: presentation-heading-tromso;
}

.presentation__image--tromso {
    grid-area: presentation-image-tromso;
}

.presentation__heading--tromso {
    grid-area: presentation-heading-tromso;
}

.presentation__info--tromso {
    grid-area: presentation-info-tromso;
}

.info__text {
    grid-column: 1 /span 2;
}

.info__icon--drop {
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
}

.info__value--waterproof {
    grid-column: 2;
    grid-row: 2
}

.info__icon--temp {
    grid-column: 1;
    grid-row: 3;
    justify-self: center;
}

.info__value--temp {
    grid-column: 2;
    grid-row: 3;
}

.info__icon--weight {
    grid-column: 1;
    grid-row: 4;
    justify-self: center;
}

.info__value--weight {
    grid-column: 2;
    grid-row: 4;
}

/* Our users */
.our-users {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: var(--margin-medium);
    background-image: url(../assets/images/backgrounds/image-by-freepik-man-hiking.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 0%;
}

.our-users__heading {
    color: var(--color-darkblue);
    padding: var(--padding-xsmall);
}

.our-users__text {
    padding: var(--padding-small) var(--padding-xsmall);
    color: var(--color-darkblue);
    background-color: var(--color-white-transparent);
}

.our-users__reviews {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.our-users__review {
    align-self: end;
    color: var(--color-white);
    background-color: var(--color-darkblue-transparent);
    margin: var(--margin-medium);
    padding: var(--padding-medium);
    border-radius: 7px;
}

.our-users__review--name {
    margin-top: var(--margin-xsmall);
}

/* Product category page: Jackets */
.main-content__jackets__header {
    min-height: 40vh;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 50%), url(../assets/images/people/man-with-orange-jacket-image-by-freepik.jpg);
    background-size: 100vw auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60% 10%;
}

.main-content__jackets__heading {
    color: var(--color-white);
    padding-left: var(--padding-small);
}

.main-content__jackets__text {
    color: var(--color-white);
    margin: var(--margin-medium);
    width: 40%;
}

.jackets__selection {
    margin: var(--margin-medium);
}

.jackets__selection>* {
    display: flex;
    gap: 1em;
}

.product-trondheim {
    margin-top: var(--margin-xsmall)
}

.jackets__selection__product__image {
    width: 100%;
}


/* Product page: Bergen */
.product-page {
    display: grid;
}

.product-page__product {
    margin: var(--margin-medium);
    display: grid;
    min-height: 70vh;
    grid-template-rows: repeat(7, auto);
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
}


.product-page__product__h1 {
    padding: var(--padding-xsmall);
    grid-column: 1;
    grid-row: 1;
}


.product-page__product__image {
    grid-column: 1 / span 2;
    grid-row: 2;
    width: 60%;
    justify-self: center;
}


.product-page__product__color-selector {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    gap: 1vw;
    grid-column: 1 / span 2;
    grid-row: 3;
}

.product-page__product__color-selector a {
    display: flex;
    justify-content: center;
    align-items: center;

}

.product-page__product__color {
    width: 60%;

}

.product-page__product__size-selector {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1vw;
    align-content: center;
    text-align: center;
    font: var(--font-body);
    font-weight: bold;
    grid-column: 1 / span 2;
    grid-row: 4;
}

.product-page__product__size-selector>* {
    padding: var(--padding-xsmall);
    border: 2px solid var(--color-darkgreen);
    border-radius: 5px;
    color: var(--color-black);

}

.product-page__product__p {
    grid-column: 1 / span 2;
    grid-row: 5;
}

.product-page__product__price {
    grid-column: 2;
    grid-row: 6;
    justify-self: end;
}

.product-page__product__cta {
    grid-column: 1 /span 2;
    grid-row: 7;
    align-self: center;
    justify-self: center;

}

/* About page*/
.about {
    display: flex;
    flex-direction: column;
}

.about__header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 50%), url(../assets/images/backgrounds/image-by-wirestock-on-freepik-couple-walking.jpg);
    background-size: auto 100vh;
    min-height: 50vh;
    background-size: cover;
    background-position: center;

}

.about__header__heading {
    color: var(--color-white);
    padding: var(--padding-small) 0;
}

.about__text {
    padding: var(--padding-medium);
}

/* Contact us*/
.contact-us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 1em;
}

.contact-us__header {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-column: 1 /span 2;
    grid-row: 1;
    background-image: url(../assets/images/backgrounds/image-by-standret-on-freepik-forest-sunset-medium.jpg);
    background-size: auto 100vh;
    min-height: 50vh;
    background-size: cover;
    background-position: 0% 30%;
    padding: var(--padding-small);
}

.contact-us__text {
    margin: 0;
}

.contact-us__form {
    display: grid;
    grid-column: 1 / span 2;
    grid-row: 2;
    margin: 0 var(--margin-medium);
}

input {
    padding: 1em;
    border: 3px solid var(--color-darkgreen);
    border-radius: 5px;
}

.contact-us__form__submit {
    justify-self: center;
    font-size: var(--body-medium);
}

textarea {
    padding: 5em;
    border: 3px solid var(--color-darkgreen);
    border-radius: 5px;
}


/* Shopping cart */
.cart {
    display: grid;
    min-height: 80vh;
    margin: var(--margin-medium);
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
}

/* Cart content */
.cart__cart-content {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto) 1fr repeat(2, auto) 1fr repeat(2, auto);
}

.cart__cart-content__heading {
    grid-column: 1 / span 2;
    grid-row: 1;
    margin-bottom: var(--margin-small);
}

.cart__cart-content__product-heading1 {
    grid-column: 1 / span 3;
    grid-row: 2;
}

.cart__cart-content__img1 {
    max-width: 50%;
    grid-column: 1;
    grid-row: 3;
}

.cart__cart-content__price1 {
    grid-column: 3;
    grid-row: 3;
    align-self: end;
    justify-self: end;
}

.cart__cart-content__devider1 {
    grid-column: 1 / span 3;
    grid-row: 4;
}

.cart__cart-content__product-heading2 {
    grid-column: 1 / span 3;
    grid-row: 5;
}

.cart__cart-content__img2 {
    max-width: 50%;
    grid-column: 1;
    grid-row: 6;
}

.cart__cart-content__price2 {
    grid-column: 3;
    grid-row: 6;
    align-self: end;
    justify-self: end;
}

.cart__cart-content__devider2 {
    grid-column: 1 / span 3;
    grid-row: 7;
}

.cart__cart-content__total-heading {
    grid-column: 1 / span 2;
    grid-row: 8;
    align-self: end;
}

.cart__cart-content__total-price {
    grid-column: 3;
    grid-row: 8;
    align-self: end;
    justify-self: end;

}

/* Cart special offer */

.cart__special-offer {
    align-self: center;
}

.cart__special-offer__heading {
    text-align: center;
}

/* Cart CTA */
.cart__cta {
    align-self: center;
}

/* Checkout flow - unfinished*/
.checkout__nav {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5em;
    max-height: 10vh;
    justify-items: center;
}

.checkout__nav a {
    display: flex;
    max-height: 10vh;
    justify-content: center;
    align-items: center;
}

.checkout__nav__icon {
    max-width: 100%;
    max-width: 2.75em;
}

.checkout__nav__item1 {
    grid-column: 1;
}

.checkout__nav__item2 {
    grid-column: 2;
}

.checkout__nav__item3 {
    grid-column: 3;
}

.checkout-cta {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 6em repeat(2, 1fr) 3em auto 3em repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
    margin: var(--margin-medium);
    grid-auto-rows: 2em;
}

.checkout-cta h1 {
    grid-row: 1;
}

.checkout-cta__guest {
    grid-row: 3;
}

.checkout-cta__login {
    grid-row: 4;
}

.checkout-cta p {
    text-align: center;
    margin: var(--margin-large);
    grid-row: 6;
}

.checkout-cta h2 {
    text-align: center;
    grid-row: 7;
}

.checkout-cta__easy-checkout {
    max-height: 3em;
    max-width: 20em;
    min-width: 7em;
    margin: var(--margin-medium);
    border-radius: 10px;
    box-shadow: 0.2em 0.8em 0.5em gray;
}

.easy-checkout__apple {
    grid-row: 8;
}

.easy-checkout__google {
    grid-row: 9;
}

.checkout-cta__easy-checkout img {
    max-width: 100%;
}

/* Confirmation page */
.confirmation {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    margin: var(--body-medium);
}

.confirmation__order {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto) 1fr repeat(2, auto) 1fr repeat(2, auto);
}

.confirmation__order__heading {
    grid-column: 1 / span 3;
    grid-row: 1;
    margin-bottom: 1em;
    font-size: var(--heading-small);
}

.confirmation__order__product-heading1 {
    grid-column: 1 / span 2;
    grid-row: 2;
}

.confirmation__order__img1 {
    max-width: 40%;
    grid-column: 1;
    grid-row: 3;
}

.confirmation__order__price1 {
    grid-column: 3;
    grid-row: 3;
    align-self: end;
    justify-self: end;
}

.confirmation__order__devider1 {
    grid-column: 1 / span 3;
    grid-row: 4;
}

.confirmation__order__product-heading2 {
    grid-column: 1 / span 2;
    grid-row: 5;
}

.confirmation__order__img2 {
    max-width: 40%;
    grid-column: 1;
    grid-row: 6;
}

.confirmation__order__price2 {
    grid-column: 3;
    grid-row: 6;
    align-self: end;
    justify-self: end;
}

.confirmation__order__devider2 {
    grid-column: 1 / span 3;
    grid-row: 7;
}

.confirmation__order__total-heading {
    grid-column: 1 / span 2;
    grid-row: 8;
    align-self: end;
}

.confirmation__order__total-price {
    grid-column: 3;
    grid-row: 8;
    align-self: end;
    justify-self: end;

}

.section-divider {
    border-bottom: 1px solid var(--devider-color);
    margin: var(--margin-small)
}

/* Chosen shipping*/
.confirmation__order__shipping {
    align-self: center;
}

.confirmation__order__shipping__heading {
    text-align: left;
}

/* Confirmation page CTA */
.confirmation__order__cta {
    align-self: center;
}


/* Not available yet */
.notavailable {
    display: grid;
    grid-template-rows: 20vh repeat(2, auto) 1fr;
}

.notavailable__h1 {
    text-align: center;
    font-size: var(--heading-small);
    margin: var(--margin-small);
    padding: 0;
    grid-row: 2;
}

.notavailable__p {
    margin: var(--margin-medium);
    grid-row: 3;
}



/* Media queries */
@media (min-width: 425px) {

    /* Main page */
    .main-cta {
        grid-template-columns: repeat(3, 1fr);
    }

    .cta-btn__men {
        grid-column: 2;
    }

    .cta-btn__women {
        grid-column: 3;
    }

    /* Product category page: Jackets */
    .jackets__selection>* {
        gap: 1.5em;
    }

    /* Product page: Bergen */
    .product-page__product__color-selector {
        gap: 3vw;
    }

    .product-page__product__color {
        width: 50%;

    }
}

@media (min-width: 600px) {

    /* Header */
    .utility-nav__icon,
    .burger-btn__image {
        padding: 0;
    }

    .section-divider {
        margin: var(--margin-medium);
    }

    /* Footer */
    footer {
        grid-template-columns: auto 1fr auto;
        grid-template-rows: repeat(4, auto);
        align-items: center;
        grid-template-areas:
            'logo . some-heading'
            'logo . some'
            'logo . contact-info-heading '
            'copyright . contact-info';
        margin-top: var(--margin-large);
        padding: var(--padding-medium);
        gap: 0.5em;
    }

    .footer__some {
        justify-content: center;
        gap: 3em;
    }

    .footer__contact-info {
        justify-content: left;
        gap: 2em;
    }

    .footer__logo,
    .footer__copyright {
        justify-content: left;

    }

    .fa-brands {
        font-size: 2.3em;
    }

    .fa-solid {
        font-size: 1.5em;
    }

    /* Home page */
    .main-cta {
        background-image: url(../assets/images/backgrounds/image-by-wirestock-on-freepik-medium.webp);
        grid-template-columns: repeat(4, 1fr);
    }

    .main__cta__slogan {

        max-width: 80%;
    }

    .cta-btn__men {
        grid-column: 3;
    }

    .cta-btn__women {
        grid-column: 4;
    }

    /* Product presentation (min-width: 600px;) */
    .presentation {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(8, auto);
        column-gap: 2em;
        grid-template-areas:
            'presentation-heading presentation-heading'
            'presentation-heading-bergen presentation-heading-bergen'
            'presentation-image-bergen  presentation-info-bergen'
            'presentation-heading-trondheim presentation-heading-trondheim'
            'presentation-image-trondheim presentation-info-trondheim'
            'presentation-heading-tromso presentation-heading-tromso'
            'presentation-image-tromso presentation-info-tromso';
        border-bottom: 1px solid var(--color-darkblue);
    }

    .presentation__link {
        display: flex;
        max-width: 20vw;
        margin-bottom: var(--margin-xsmall);
    }

    .presentation__info {
        border: none;
        align-self: center;
        padding: 0;
    }

    .presentation__heading--trondheim,
    .presentation__heading--tromso {
        border-top: 1px solid var(--color-darkblue);
    }

    /* Our users */
    .our-users {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        gap: 0;
        background-size: cover;
        background-position: 20% 0;
    }

    .our-users__heading {
        grid-column: 1 / span 2;
        grid-row: 1;
        justify-self: right;
    }

    .our-users__text {
        grid-column: 2;
        grid-row: 2;
    }

    .our-users__reviews {
        grid-column: 2;
        grid-row: 3;
    }


    /* Product category page: Jackets */
    .jackets__selection>* {
        gap: 2em;
    }

    .product-trondheim {
        margin-top: var(--margin-small)
    }

    /* Product page: Bergen */
    .product-page__product__h1 {
        grid-column: 2;
        grid-row: 1;
        padding: 0;
        align-self: end;
    }

    .product-page__product__p {
        grid-column: 2;
        grid-row: 2;
        margin: 0;
    }

    .product-page__product__image {
        grid-column: 1;
        grid-row: 2 / span 6;
        width: 100%;
    }

    .product-page__product__price {
        grid-column: 2;
        grid-row: 5;
        justify-self: end;
    }

    .product-page__product__color-selector {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-content: center;
        gap: 1vw;
        grid-column: 2;
        grid-row: 3;
    }

    .product-page__product__color {
        width: 60%;
    }

    .product-page__product__size-selector {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1vw;
        align-content: center;
        text-align: center;
        font: var(--font-body);
        font-weight: bold;
        grid-column: 2;
        grid-row: 4;
    }

    .product-page__product__size-selector>* {
        padding: var(--padding-xsmall);
        border: 2px solid var(--color-darkgreen);
        border-radius: 5px;
        color: var(--color-black);
    }

    .product-page__product__cta {
        grid-column: 2;
        grid-row: 6;
        align-self: center;
        justify-self: center;
    }

    /* Cart */
    .cart {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        column-gap: 2em;
        margin: var(--margin-large);
        grid-template-areas:
            'cart-content special-offer'
            'cart-content cart-cta';
    }

    .cart-devider1 {
        display: none;
    }

    .cart__cart-content {
        grid-area: cart-content;
    }

    .cart__cart-content__img1,
    .cart__cart-content__img2 {
        max-width: 100%;
    }

    .cart__special-offer {
        padding: var(--padding-large);
        grid-area: special-offer;
    }

    .cart__cta {
        justify-self: center;
        min-width: 20em;
        grid-area: cart-cta;
    }

    /* Confirmation page */
    .confirmation {
        display: grid;
        grid-template-columns: auto 50vw;
        grid-template-rows: auto auto auto auto;
        column-gap: 2em;
        margin: var(--margin-large);
        grid-template-areas:
            'confirmation-order confirmation-cta'
            'confirmation-devider1 confirmation-cta'
            'confirmation-shipping confirmation-cta';
    }

    .confirmation__order__heading {
        font-size: var(--heading-small);
    }

    .confirmation-devider2 {
        display: none;
    }

    .confirmation__order {
        grid-area: confirmation-order;
    }

    .confirmation-devider1 {
        grid-area: confirmation-devider1;
    }

    .confirmation__order__shipping {
        grid-area: confirmation-shipping;
    }

    .confirmation__order__img1,
    .confirmation__order__img2 {
        max-width: 100%;
    }

    .confirmation__order__cta {
        padding: var(--padding-large);
        grid-area: confirmation-cta;
    }

    .confirmation__order__cta__heading {
        text-align: center;
        font-size: var(--heading-medium);
    }

    /* About page */
    .about__header {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0) 30%), url(../assets/images/backgrounds/image-by-wirestock-on-freepik-couple-walking-large.jpg);
    }

    .about__text {
        column-count: 2;
        column-gap: 2em;
    }

    .about__text p {
        margin: 0;
        margin-bottom: 1em;
    }

    /* Contact us page */
    .contact-us {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, auto);
        gap: 1em;
    }

    .contact-us__header {
        background-image: url(../assets/images/backgrounds/image-by-standret-on-freepik-forest-sunset-large.jpg);
    }

    .contact-us__text {
        width: 70%;
        margin: 0;
    }

    .contact-us__form {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: repeat(7, auto);
        column-gap: 1em;
        grid-column: 1 / span 2;
        grid-row: 2;
        margin: 0 var(--margin-medium);
        grid-template-areas:
            'name-lable message-lable'
            'name-input message-input'
            'phone-lable message-input'
            'phone-input message-input'
            'email-lable message-input'
            'email-input message-input'
            'submit submit';
    }

    .name-lable {
        grid-area: name-lable;
    }

    .name-input {
        grid-area: name-input;
    }

    .phone-lable {
        grid-area: phone-lable;
    }

    .phone-input {
        grid-area: phone-input;
    }

    .email-lable {
        grid-area: email-lable;
    }

    .email-input {
        grid-area: email-input;
    }

    .message-lable {
        grid-area: message-lable;
    }

    .message-input {
        grid-area: message-input;
    }


    .contact-us__form__submit {
        justify-self: center;
        grid-area: submit;
    }

    textarea {
        padding: 5em;
        border: 3px solid var(--color-darkgreen);
        border-radius: 5px;
    }

}


@media (min-width: 850px) {

    /* Header */
    header {
        grid-template-columns: 211px repeat(5, auto) 211px;
    }

    .nav {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1em;
        justify-items: center;
        grid-column: 4;
    }

    .nav__link {
        display: inline-block;
        padding: 0.5em;
    }

    .burger-btn {
        display: none;
    }

    .utility-nav {
        grid-column: 7;
    }

    .utility-nav__icon {
        padding: var(--padding-xsmall);
    }

    /* Footer */


    /* Product category page: Jackets */
    .jackets__selection>* {
        gap: 2em;
    }
}

@media (min-width: 1000px) {

    /* Header */
    header {
        min-height: 10vh;
        padding: 0.5em 0.5em;
        grid-area: header;
    }

    .utility-nav__icon {
        padding: 0;
    }

    /* Navigation */
    .breadcrumbs {
        display: grid;
        grid-template-columns: auto auto auto auto auto 750px;
        grid-template-rows: 2vh;
        align-items: center;
        min-width: 1000px;
        max-width: 1000px;
        margin: auto;
    }

    /* Home page */
    .main-cta {
        background-image: url(../assets/images/backgrounds/image-by-wirestock-on-freepik-large.webp);
        grid-template-columns: repeat(5, 1fr);
    }

    .cta-btn__men {
        grid-column: 3;
    }

    .cta-btn__women {
        grid-column: 4;
    }

    .jackets__selection>* {
        gap: 2em;
    }

    /* Product presentation (min-width: 1000px;) */
    .presentation {
        max-width: 1000px;
        margin: auto;
    }

    .presentation__link {
        display: flex;
        max-width: 15vw;
    }

    /* Our users */
    .our-users {
        display: grid;
        grid-template-columns: auto 400px 600px auto;
    }

    .our-users__heading {
        grid-column: 2 / span 2;
        grid-row: 1;
        justify-self: right;
    }

    .our-users__text {
        grid-column: 3;
        grid-row: 2;
    }

    .our-users__reviews {
        grid-column: 3;
        grid-row: 3;
    }


    /* Product page: Bergen */
    .product-page {
        max-width: 1000px;
        margin: auto;
    }

    .product-page__product {
        column-gap: 3em;
    }

    .product-page__product__cta {
        align-self: end;
        justify-self: end;
    }

    /* Product category page: Jackets */
    .jackets__selection>* {
        max-width: 1000px;
        margin: auto;
        gap: 3em;
    }

    .jackets__selection__devider {
        margin: var(--margin-large) auto;
    }

    .main-content__jackets__header {
        display: grid;
        grid-template-columns: auto 1000px auto;
        grid-template-rows: auto auto 1fr;
        min-height: 50vh;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 50%), url(../assets/images/people/man-with-orange-jacket-image-by-freepik-large.jpg);

    }

    .main-content__jackets__heading,
    .main-content__jackets__text {
        padding: var(--padding-small);
        padding-left: 0;
        margin: 0;
        grid-column: 2;
    }

    .product-trondheim {
        margin-top: var(--margin-medium)
    }

    /* Cart */
    .cart {
        max-width: 1000px;
        margin: var(--margin-large);
    }

    .cart__special-offer__heading {
        font-size: var(--heading-medium);
    }

    /* Confirmation page */
    .confirmation {
        grid-template-columns: auto 60%;
        padding: var(--padding-large);
        max-width: 1000px;
        margin: auto;
    }

    .confirmation__order__cta__btn {
        margin: 1em auto;
    }

    /* About page */
    .about__header__heading,
    .about__text {
        max-width: 1000px;
        margin: 0 auto;
    }

    /* Contact us page */
    .contact-us__header {
        display: grid;
        grid-template-columns: auto 1000px auto;
    }

    .contact-us__heading,
    .contact-us__text {
        grid-column: 2;
    }

    .contact-us__form {
        max-width: 1000px;
        min-width: 1000px;
        padding: var(--padding-medium);
        margin: 0 auto;
    }

}

@media (min-width: 1200px) {

    /* Home page */
    /* Product presentation (min-width: 1200px;) */
    .presentation {
        min-width: 1000px;
    }

    /* Product page */
    .product-page__product {
        margin: 0;
    }

    /* Cart */
    .cart {
        max-width: 1000px;
        margin: auto;
    }

    .cart__special-offer__heading {
        font-size: var(--heading-medium);
    }

    /* Confirmation page */
    .confirmation {
        grid-template-columns: auto 60%;
        max-width: 1000px;
        margin: auto;
    }

    /* Contact us page */

    .contact-us__form {
        padding: 0;
    }

    /* Not available yet page */
    .notavailable__h1 {
        max-width: 800px;
        margin: auto;
    }
}