@import url("reset.css");
@import url("variables.css");

/* * {
    outline: 1px solid red !important;
} */



/* Global styling */
/* Fonts */

/* html, body, main, footer */
body {
    display: grid;
    grid-template-rows: auto auto auto 1fr auto;
    grid-template-areas:
        'skip2main'
        'header'
        'breadcrumbs'
        'main'
        'footer';
}

main {
    grid-area: main;
}

footer {
    display: grid;
    min-height: 10vh;
    grid-area: footer;
}

/* Accessibility */
.skip2main {
    position: absolute;
    grid-area: skip2main;
    top: -1000px;
    left: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip2main:focus {
    top: 10px;
    left: 10px;
    width: auto;
    height: auto;
    padding: 1rem;
    background-color: #000;
    color: #fff;
    z-index: 100;
}

/* Text, links, and modifiers */
h1,
h2,
h3 {
    font-family: var(--font-heading);
    font-weight: var(--font-weight-bold);
    margin: 0;
}

p,
label,
input {
    font-family: var(--font-body);
}

a {
    font-family: var(--font-body)
}

.white {
    color: white;
}

.large-h {
    font-size: var(--heading-large);
}

.medium-h {
    font-size: var(--heading-medium);
}

.small-h {
    font-size: var(--heading-small);
}

.large-p {
    font-size: var(--body-large);
}

.medium-p {
    font-size: var(--body-medium);
}

.small-p {
    font-size: var(--body-small);
}

/* Margins, paddings and sizing */
.xsmall-padding {
    padding: var(--padding-xsmall);
}

.small-padding {
    padding: var(--padding-small);
}

.medium-padding {
    padding: var(--padding-medium);
}

.narrow {
    width: 50%
}

.small-margin {
    margin: var(--margin-small)
}

.medium-margin {
    margin: var(--margin-medium)
}

.large-margin {
    margin: var(--margin-large)
}

/* Components, buttons etc */
.cta-btn {
    display: grid;
    max-width: 20em;
    min-width: 7em;
    padding: 1em;
    margin: var(--margin-medium);
    background-color: var(--color-black);
    color: var(--color-white);
    text-align: center;
    text-decoration: none;
    border-radius: 7px;
    box-shadow: 0.2em 0.4em 0.5em black;
    border: none;
}

.cta-btn--main {
    background-color: var(--color-darkblue);
    margin: 1em 1.5em 5em 1em;
}

.green-btn {
    background-color: var(--color-darkgreen);
}

.large-btn {
    min-width: 15em;
}

.main-cta-btn--alt-margin {
    margin: 1em 2em;
}


/* Header and Navigation */
header {
    display: grid;
    grid-template-columns: repeat(8, auto);
    align-items: center;
    min-width: 100vw;
    max-width: 100vw;
    min-height: 10vh;
    padding: 0.5em 0.5em;
    grid-area: header;
}

header a {
    font-family: var(--font-heading);
    color: black;
    text-decoration: none;
}

.header__logo-container {
    display: flex;
    justify-content: center;
}

.logo {
    display: flex;
    max-height: 8vh;
    min-width: 130px;
    order: 1;
    padding: var(--padding-xsmall)
}

.utility-nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    order: 2;
    grid-column: 7;
}

.utility-nav__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.utility-nav__item a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.utility-nav__icon {
    min-width: 2em;
    max-width: 2.75em;
    padding: var(--padding-xsmall);
}

.burger-btn {
    display: flex;
    justify-self: flex-end;
    grid-column: 8;
    order: 3;
}

.burger-btn__image {
    width: 100%;
    max-width: 2.75em;
    min-width: 2em;
}

.nav,
#menu-checkbox {
    display: none;
}

#menu-checkbox:checked~.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 10vh;
    right: 0px;
    width: 100%;
    background-color: white;
    z-index: 999;
    padding: 0;
}

#menu-checkbox:checked~.nav a {
    display: block;
    padding: 2rem;
}

.breadcrumbs {
    display: inline;
    grid-area: breadcrumbs;
}

.breadcrumbs__item {
    font-family: var(--font-heading);
    color: black;
    text-decoration: none;
    display: inline-block;
    padding-right: 0.5em;
    padding-inline-start: 0.5em;
}

.current-page {
    text-decoration: underline;
}


/* Front page CTA */
.main-cta {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    min-height: 80vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    background-image: url(../assets/images/backgrounds/Image-by-wirestock-on-Freepik.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



/* Pages */
/* Product category page: Jackets */

.main-content__jackets__header {
    min-height: 40vh;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 50%), url(../assets/images/people/man-with-orange-jacket-image-by-freepik.jpg);
    background-size: 100vw auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60% 10%;
}

.jackets__selection {
    margin: var(--margin-medium);
}

.jackets__selection>* {
    display: flex;
    gap: 1em;
    padding: var(--padding-xsmall)
}

.jackets__selection__product__image {
    width: 100%;
}

/* Product page: Bergen */
.product-page {
    display: grid;
    height: 80vh;
}

.product-page__product {
    margin: var(--margin-medium);
    display: grid;
    grid-template-rows: repeat(7, auto);
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
}


.product-page__product__h1 {
    grid-column: 1;
    grid-row: 1;
}

.product-page__product__p {
    grid-column: 1 / span 2;
    grid-row: 3;
}

.product-page__product__image {
    grid-column: 1 / span 2;
    grid-row: 2;
    width: 50%;
    justify-self: center;
}

.product-page__product__price {
    grid-column: 2;
    grid-row: 4;
    justify-self: end;
}

.product-page__product__color-selector {
    grid-column: 1;
    grid-row: 5;
}

.product-page__product__size-selector {
    grid-column: 2;
    grid-row: 5;
}

.product-page__product__cta {
    grid-column: 1 /span 2;
    grid-row: 6;
    align-self: center;
    justify-self: center;

}

/* About us*/
.about {
    display: flex;
    flex-direction: column;
}

.about__header {
    background-image: url(../assets/images/backgrounds/Image-by-wirestock-on-Freepik-1.jpg);
    background-size: auto 100vh;
    min-height: 50vh;
    background-position: center;

}

/* Contact us*/
.contact-us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: repeat(2, auto);
    margin: var(--margin-medium);
    gap: 2em;
}

.contact-us__header {
    display: grid;
    grid-column: 1 /span 2;
    grid-row: 1;
}

.contact-us__form {
    grid-column: 1 / span 2;
    grid-row: 2;
}

form {
    display: grid;
}

input {
    padding: 1em;
    border: 3px solid var(--color-darkgreen);
    border-radius: 5px;
}

textarea {
    padding: 5em;
    border: 3px solid var(--color-darkgreen);
    border-radius: 5px;
}


/* Shopping cart */
.cart {
    display: grid;
    min-height: 80vh;
    margin: var(--margin-medium);
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
}

/* Cart content */
.cart__cart-content {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto) 1fr repeat(2, auto) 1fr repeat(2, auto);
}

.cart__cart-content__heading {
    grid-column: 1 / span 2;
    grid-row: 1;
    margin-bottom: var(--margin-small);
}

.cart__cart-content__product-heading1 {
    grid-column: 1 / span 2;
    grid-row: 2;
}

.cart__cart-content__img1 {
    max-width: 50%;
    grid-column: 1;
    grid-row: 3;
}

.cart__cart-content__price1 {
    grid-column: 3;
    grid-row: 3;
    align-self: end;
    justify-self: end;
}

.cart__cart-content__product-heading2 {
    grid-column: 1 / span 2;
    grid-row: 5;
}

.cart__cart-content__img2 {
    max-width: 50%;
    grid-column: 1;
    grid-row: 6;
}

.cart__cart-content__price2 {
    grid-column: 3;
    grid-row: 6;
    align-self: end;
    justify-self: end;
}

.cart__cart-content__total-heading {
    grid-column: 1 / span 2;
    grid-row: 8;
    align-self: end;
}

.cart__cart-content__total-price {
    grid-column: 3;
    grid-row: 8;
    align-self: end;
    justify-self: end;

}

/* Cart special offer */

.cart__special-offer {
    align-self: center;
}

.cart__special-offer__heading {
    text-align: center;
}

/* Cart CTA */
.cart__cta {
    align-self: center;
}

/* Checkout flow - unfinished*/
.checkout__nav {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5em;
    max-height: 10vh;
    justify-items: center;
}

.checkout__nav a {
    display: flex;
    max-height: 10vh;
    justify-content: center;
    align-items: center;
}

.checkout__nav__icon {
    max-width: 100%;
    max-width: 2.75em;
}

.checkout__nav__item1 {
    grid-column: 1;
}

.checkout__nav__item2 {
    grid-column: 2;
}

.checkout__nav__item3 {
    grid-column: 3;
}

.checkout-cta {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 6em repeat(2, 1fr) 3em auto 3em repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
    margin: var(--margin-medium);
    grid-auto-rows: 2em;
}

.checkout-cta h1 {
    grid-row: 1;
}

.checkout-cta__guest {
    grid-row: 3;
}

.checkout-cta__login {
    grid-row: 4;
}

.checkout-cta p {
    text-align: center;
    margin: var(--margin-large);
    grid-row: 6;
}

.checkout-cta h2 {
    text-align: center;
    grid-row: 7;
}

.checkout-cta__easy-checkout {
    max-height: 3em;
    max-width: 20em;
    min-width: 7em;
    margin: var(--margin-medium);
    border-radius: 10px;
    box-shadow: 0.2em 0.8em 0.5em gray;
}

.easy-checkout__apple {
    grid-row: 8;
}

.easy-checkout__google {
    grid-row: 9;
}

.checkout-cta__easy-checkout img {
    max-width: 100%;
}

/* Confirmation page */
.confirmation {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    margin: var(--body-medium);
}

.confirmation__order {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto) 1fr repeat(2, auto) 1fr repeat(2, auto);
}

.confirmation__order__heading {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.confirmation__order__product-heading1 {
    grid-column: 1 / span 2;
    grid-row: 2;
}

.confirmation__order__img1 {
    max-width: 40%;
    grid-column: 1;
    grid-row: 3;
}

.confirmation__order__price1 {
    grid-column: 3;
    grid-row: 3;
    align-self: end;
    justify-self: end;
}

.confirmation__order__product-heading2 {
    grid-column: 1 / span 2;
    grid-row: 5;
}

.confirmation__order__img2 {
    max-width: 40%;
    grid-column: 1;
    grid-row: 6;
}

.confirmation__order__price2 {
    grid-column: 3;
    grid-row: 6;
    align-self: end;
    justify-self: end;
}

.confirmation__order__total-heading {
    grid-column: 1 / span 2;
    grid-row: 8;
    align-self: end;
}

.confirmation__order__total-price {
    grid-column: 3;
    grid-row: 8;
    align-self: end;
    justify-self: end;

}

.section-divider {
    border-bottom: 1px solid var(--devider-color);
    margin: var(--margin-large)
}

/* Chosen shipping*/
.confirmation__order__shipping {
    align-self: center;
}

.confirmation__order__shipping__heading {
    text-align: left;
}

/* Confirmation page CTA */
.confirmation__order__cta {
    align-self: center;
}


/* Not available yet */
.notavailable {
    display: grid;
    grid-template-rows: 20vh repeat(2, auto) 1fr;
}

.notavailable__h1 {
    text-align: center;
    font-size: var(--heading-h1-medium);
    margin: var(--margin-small);
    padding: 0;
    grid-row: 2;
}

.notavailable__p {
    margin: var(--margin-medium);
    grid-row: 3;
}

/* Media queries */

/* Problems with burger menu in landscape on phones! */
/* @media (orientation: landscape){
    header {
        height: 15vh;
    }
    #menu-checkbox:checked~.nav {
        top: 10vh;
    }

} */

@media (min-width: 425px) {
    .utility-nav__icon {
        padding: 0;
    }

}

@media (min-width: 600px) {
    .main-cta {
        background-image: url(../assets/images/backgrounds/image-by-wirestock-on-freepik-medium.jpg);
    }
}



@media (min-width: 850px) {
    .nav {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1em;
        justify-items: center;
        grid-column: 4;
    }

    .nav__link {
        display: inline-block;
        padding: 0.5em;
    }

    .burger-btn {
        display: none;
    }

    .utility-nav__icon {
        padding: var(--padding-xsmall);
    }
}

@media (min-width: 1000px) {
    .utility-nav__icon {
        padding: 0;
    }

    .main-cta {
        background-image: url(../assets/images/backgrounds/image-by-wirestock-on-freepik-large.jpg);
    }

}