:root {
    /* Colors */
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-darkgreen: #4A5912;
    --color-green: #9CA344;
    --color-blue: #6C8DA9;
    --color-darkblue: #1F3C54;

    /* Font families */
    --font-heading: 'Lato', 'Arial Narrow Bold', sans-serif;
    --font-body: 'DM Sans', 'Gill Sans', sans-serif;

    /* Font weights */
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    /* Text sizing */
    --heading-large: 3em;
    --heading-medium: 2em;
    --heading-small: 1.5em;
    --body-large: 2em;
    --body-medium: 1em;
    --body-small: 0.5em;

    /* Spacing */
    --padding-xsmall: 0.2em;
    --padding-small: 0.5em;
    --padding-medium: 1em;
    --padding-large: 2em;

    --margin-small: 0.5em;
    --margin-medium: 1em;
    --margin-large: 2em;


    /* Section deviders */
    --devider-color: black;
    --devider-spacing: 2em;
}