:root {
    /* Colors */
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-grey: #595959;
    --color-darkgreen: #4A5912;
    --color-green: #9CA344;
    --color-blue: #6C8DA9;
    --color-darkblue: #1F3C54;
    --color-white-transparent: #FFFFFFDD;
    --color-darkblue-transparent: #1F3C54DD;
    --color-blue-transparent: #6C8DA9DD;

    /* Font families */
    --font-heading: 'Lato', 'Arial Narrow Bold', sans-serif;
    --font-body: 'DM Sans', 'Gill Sans', sans-serif;

    /* Font weights */
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    /* Text sizing */
    --heading-xlarge: 3em;
    --heading-large: 2.5em;
    --heading-medium: 2em;
    --heading-small: 1.5em;
    --heading-xsmall: 1em;
    --body-large: 2em;
    --body-medium: 1em;
    --body-small: 0.8em;
    --body-xsmall: 0.5em;

    /* Spacing */
    --padding-large: 2em;
    --padding-medium: 1em;
    --padding-small: 0.5em;
    --padding-xsmall: 0.2em;

    --margin-large: 2em;
    --margin-medium: 1em;
    --margin-small: 0.5em;
    --margin-xsmall: 0.2em;



    /* Section deviders */
    --devider-color: black;
    --devider-spacing: 2em;
}